 <!DOCTYPE html>
 <html>
 <head>
 	<meta charset="utf-8">
 	<title>Some Page</title>
 </head>
 <body>
 	{{> header}}
 	<p>Some text here</p>
 	<ul>
 		{{#each orang}}
		<li>{{nama}} : {{umur}}</li>
 		{{/each}}
 	</ul>


 	{{> footer}}
 </body>
 </html>